**/*.egg-info
**/__pycache__/

SynthSR/models/
!SynthSR/models/synthsr_lowfield_v20_230130.h5

datasets

test*/

training_data/

.DS_Store
**/DS.Store

Dockerfile*

license.txt
synapse_token*
*.sh

_trained_models
LISA_dockerized_inference*/
resunet_results*/
validation-data-lisa


.dockerignore
.git
.gitignore

**/.git*